<!DOCTYPE html>
<html lang="en">

<head>
    <title>COATI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">

    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/css/aos.css">

    <link rel="stylesheet" href="/public/css/ionicons.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/public/css/flaticon.css">
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img style="width:100px; height: 100%;"  src="https://scontent.flim2-1.fna.fbcdn.net/v/t1.0-9/72869608_110362020390701_2304137164167839744_o.png?_nc_cat=102&_nc_oc=AQkhBltbxa9jP2eZAD0CLnflVekbdjZB1q9F1T_letRCQ510lw8-72pxmjY4Mv4Gxp0&_nc_ht=scontent.flim2-1.fna&oh=2f58810c0f54cdf7037c795a2f595153&oe=5E4F7BFD" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#home" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="#about" class="nav-link">Acerca del taller</a></li>
                    <li class="nav-item"><a href="#inscription" class="nav-link">Inscripcion</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    {{{ body }}}

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Curso Taller</h2>
                        <p>Curso taller organizado por la carrera de Ingenieria de Sistemas e Informatica con la
                            finalidad de potenciar el conocimiento de losestudiantes.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="https://www.facebook.com/events/851900695196449/"><span
                                        class="icon-facebook"></span>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Direccion</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Laboratorio de Robotica de Ingenieria de Sistemas e
                                    Informatica, segundo piso Pabellon B</a></li>

                            <li><a href="https://www.facebook.com/events/851900695196449/">Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This template is made with <i class="icon-heart"
                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <h3>Plataforma desarrollada por <a href="https://www.facebook.com/ByteCodeSAC">BYTECODE</a>, empresa
                        de desarrollo de software</h3>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.easing.1.3.js"></script>
    <script src="/public/js/jquery.waypoints.min.js"></script>
    <script src="/public/js/jquery.stellar.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/js/aos.js"></script>
    <script src="/public/js/jquery.animateNumber.min.js"></script>
    <script src="/public/js/bootstrap-datepicker.js"></script>
    <script src="/public/js/jquery.timepicker.min.js"></script>
    <script src="/public/js/main.js"></script>

    <script>



        var btn = document.getElementById("btn");


        btn.addEventListener("click", enviar)


        function enviar(e) {

            var name = document.getElementById("name");
            var lastName = document.getElementById("lastName");
            var dni = document.getElementById("dni");
            var success = document.getElementById("success")
            var danger = document.getElementById("danger")


            if (dni.value.length != 8 || dni.value.length == 0) {
                danger.setAttribute("style", "display:none");

                danger.setAttribute("style", "display:block");
                danger.innerHTML = "El dni debe tener 8 digitos y es necesario";

                return false;
            } else {
                $.ajax({
                    url: 'https://pacific-badlands-65538.herokuapp.com/',
                    type: 'POST',
                    data: {
                        name: name.value,
                        lastName: lastName.value,
                        dni: dni.value
                    },
                    success: function (res) {
                        name.value = '';
                        lastName.value = '';
                        dni.value = '';


                        if (!res.status) {
                            success.setAttribute("style", "display:none")
                            danger.setAttribute("style", "display:none")

                            danger.setAttribute("style", "display:block")
                            danger.innerHTML = res.message
                        } else {
                            danger.setAttribute("style", "display:none")
                            success.setAttribute("style", "display:none")

                            success.setAttribute("style", "display:block")
                            success.innerHTML = res.message
                        }



                        return false;
                    },
                    error: function (es) {

                        return false;
                    }
                });
            }

            return false;
        }
    </script>

</body>

</html>